// =============================================================================
// HEADINGS
// =============================================================================

h2,
.h2 {
    border-bottom: 1px solid $faded-jade-50;
}

.header-section-number {
    color: $deep-jade;
}

// =============================================================================
// BUTTONS
// =============================================================================

.quarto-title .quarto-categories .quarto-category {
    opacity: 1;
}

.quarto-title-banner {
    padding-top: 1em;
    padding-bottom: 1em;
}

// =============================================================================
// CODE BLOCKS
// =============================================================================

// Code blocks - round corners
div.sourceCode {
    border-radius: 4px;
}