/* Page Background */
body {
    background-color: white;
}

/* Citations and Appendicies */
#quarto-appendix.default {
    background-color: white;
}

/* Table Background */
.page-columns table {
    background: white;
}

/* Sidebar Background */
nav.sidebar.sidebar-navigation:not(.rollup) {
    background-color: white;
}

.btn .btn-primary {
    padding: 0.5rem 1rem;
}