/*-- scss:defaults --*/

// Lux 5.3.2
// Bootswatch

$theme: "lux" !default;

//
// Color system
//

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #f7f7f9 !default;
$gray-300: #eceeef !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #919aa1 !default;
$gray-700: #55595c !default;
$gray-800: #343a40 !default;
$gray-900: #1a1a1a !default;
$black:    #000 !default;

// Colors
$deep-jade: #254D56;
$faded-jade: #45767a;
$faded-jade-50: #a2bbbd;
$faded-jade-10: #ecf1f2;
$gulfstream: #7fa6ad;
$edgewater: #d3dfdd;
$edgewater-20: #dce5e4;
$cascade: #b3c2c9;
$boulder: #727E70;
$spring-rain: #b2c5b4;
$timberwolf: #D8D5CE;
$timberwolf-50: #eceae7;
$almond-dust: #B8AEA8;
$moonstone: #969996;
$storm-cloud:#64635E;
$plum-crazy: #59224A;

// Base document colors
$navbar-bg: $faded-jade-50; // navbar
$navbar-fg: $faded-jade; // navbar foreground elements
$navbar-hl: $deep-jade; // highlight color when hovering over navbar links
$body-bg: $white; // page background
$body-color: $black; // page text
$footer-bg: $faded-jade-50; // footer
$footer-fg: $deep-jade; // footer text color
$link-color: $deep-jade; // hyperlinks

// Inline code
$code-bg: $timberwolf-50; // inline code background color
$code-color: $plum-crazy; // inline code text color

// Code blocks
$code-block-bg: $timberwolf-50; // code block background color

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #d9534f !default;
$orange:  #fd7e14 !default;
$yellow:  #f0ad4e !default;
$green:   #4bbf73 !default;
$teal:    #20c997 !default;
$cyan:    #1f9bcf !default;

$primary:       $gray-900 !default;
$secondary:     $white !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $white !default;
$dark:          $gray-800 !default;

$min-contrast-ratio:   2.3 !default;

// Animated Logo

// the line in the navbar logo
// animation defined in ek-styles.css
.icon-line {
  display: block;
  background: $faded-jade;
  width: 100%;
  height: 1.2px;
  margin: auto;
  display: table;
  margin-top: -2.6px;
  margin-bottom: -2.6px;
}

/* covers line inside of letter v */
.icon-line2 {
  display: block;
  background: $faded-jade-10;
  width: 14%;
  height: 1.7px;
  margin: auto;
  display: table;
  margin-top: 1px;
  margin-bottom: -12px;
  margin-left: 50.5px;
}

/* right inner square to smooth out where line and v meet */
.icon-line2:after {
  content: "";
  position: absolute;
  margin: -20px;
  width: 4px;
  height: 4px;
  transform: rotate(24deg);
  margin-left: 13.2px;
  margin-top: -1.2px;
  background-color: $faded-jade-10;
}

/* left inner square to smooth out where line and v meet */
.icon-line2:before {
  content: "";
  position: absolute;
  margin: 0px;
  width: 4px;
  height: 4px;
  transform: rotate(336deg);
  margin-left: -0.8px;
  margin-top: -1.2px;
  background-color: $faded-jade-10;
}

.first-name {
  font-family: "Nunito Sans";
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: .46rem;
  margin-right: -7px;
}

.v {
  font-family: "Nunito Sans";
  font-size: 1.9rem;
  font-weight: 100;
  padding-left: 0px;
  padding-right: 4.5px;
}

// navbar
.navbar-title {
  font-family: "Nunito Sans";
  font-size: 1.25rem;
  font-weight: 200;
  letter-spacing: .46rem;
  color: $faded-jade;
}

.last-name {
  font-family: "Nunito Sans";
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: .46rem;
  padding-left: 9px;
}

.last-name2 {
  font-family: "Nunito Sans";
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: .46rem;
  margin-left: -17px;
}

// Options

$enable-rounded:            false !default;

// Body

$body-color:                $gray-700 !default;

// Fonts

// stylelint-disable-next-line value-keyword-case
$font-family-sans-serif: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$font-family-monospace: "Open Sans", "Fira Mono", monospace;
$headings-font-family: "Nunito+Sans", sans-serif !default;

$font-weight-lighter:         lighter !default;
$font-weight-light:           200 !default;
$font-weight-normal:          300 !default;
$font-weight-medium:          400 !default;
$font-weight-semibold:        500 !default;
$font-weight-bold:            600 !default;
$font-weight-bolder:          bolder !default;

$font-size-base:              1rem;
$h1-font-size:                2rem !default;
$h2-font-size:                1.75rem !default;
$h3-font-size:                1.5rem !default;
$h4-font-size:                1.25rem !default;
$h5-font-size:                1rem !default;
$h6-font-size:                .75rem !default;
$headings-font-weight:        600 !default;
$headings-color:              $gray-900 !default;

// Tables

$table-border-color:          rgba(0, 0, 0, .05) !default;

// Buttons + Forms

$input-btn-border-width:      0 !default;

// Buttons

$btn-line-height:             1.5rem !default;
$input-btn-padding-y:         .75rem !default;
$input-btn-padding-x:         1.5rem !default;
$input-btn-padding-y-sm:      .5rem !default;
$input-btn-padding-x-sm:      1rem !default;
$input-btn-padding-y-lg:      2rem !default;
$input-btn-padding-x-lg:      2rem !default;
$btn-font-weight:             600 !default;

// Forms

$input-line-height:                     1.5 !default;
$input-bg:                              $gray-200 !default;
$input-disabled-bg:                     $gray-300 !default;
$input-group-addon-bg:                  $gray-300 !default;

$form-select-disabled-color:        $gray-600 !default;
$form-select-disabled-bg:           $input-disabled-bg !default;

// Navbar

$navbar-padding-y:                  0.5rem !default; // changed from 1.5rem to 0.5 rem
$navbar-dark-hover-color:           $white !default;
$navbar-light-color:                rgba($black, .3) !default;
$navbar-light-hover-color:          $gray-900 !default;
$navbar-light-active-color:         $gray-900 !default;

// Pagination

$pagination-border-color:           transparent !default;
$pagination-hover-border-color:     $pagination-border-color !default;
$pagination-disabled-border-color:  $pagination-border-color !default;

