/*-- scss:defaults --*/

// Custom color palette
$deep-jade: #254D56;
$faded-jade: #45767a;
$faded-jade-50: #a2bbbd;
$faded-jade-10: #ecf1f2;
$gulfstream: #7fa6ad;
$edgewater: #d3dfdd;
$edgewater-20: #dce5e4;
$cascade: #b3c2c9;
$boulder: #727E70;
$spring-rain: #b2c5b4;
$timberwolf: #D8D5CE;
$timberwolf-50: #eceae7;
$almond-dust: #B8AEA8;
$moonstone: #969996;
$storm-cloud: #64635E;
$plum-crazy: #59224A;
$plum-crazy-80: #6f4a64;

// Semantic color overrides
$navbar-bg: $faded-jade-50;
$navbar-fg: $faded-jade;
$navbar-hl: $deep-jade;
$body-color: black;
$body-bg: $faded-jade-10;
$footer-bg: $faded-jade-50;
$footer-fg: $deep-jade;
$link-color: $deep-jade;

// Typography
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;500;600;700&display=swap');

$font-family-sans-serif: "Lato", Montserrat, sans-serif !default;
$font-family-monospace: "Open Sans", "Fira Mono", monospace;
$headings-font-family: "Nunito+Sans", Nunito Sans, sans-serif !default;
$headings-color: $faded-jade;
$headings-font-weight: 300; // Changed from 600 to 300
$headings-margin-bottom: 0.5rem;

// Code styling
$code-bg: $timberwolf-50;
$code-color: $plum-crazy;
$code-block-bg: $timberwolf-50;

// Bootstrap overrides
$light: white;
$min-contrast-ratio: 2.3;
$input-btn-border-width: 0;
$navbar-padding-y: 0.5rem; //or 0.3rem??
//$navbar-padding-x: 0;


/*-- scss:rules --*/

// Headings
h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
  font-weight: 300;
  //color: $faded-jade;
  //font-family: "Nunito Sans", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
}

//Navbar

// Animated logo styles
.icon-line {
  display: block;
  background: $faded-jade;
  width: 100%;
  height: 1.2px;
  margin: auto;
  margin-top: -2.6px;
  margin-bottom: -2.6px;
}

.icon-line2 {
  display: block;
  background: $faded-jade-10;
  width: 14%;
  height: 1.7px;
  margin: auto;
  margin-top: 1px;
  margin-bottom: -12px;
  margin-left: 50.5px;
}

.icon-line2:after {
  content: "";
  position: absolute;
  margin: -20px;
  width: 4px;
  height: 4px;
  transform: rotate(24deg);
  margin-left: 13.2px;
  margin-top: -1.2px;
  background-color: $faded-jade-10;
}

.icon-line2:before {
  content: "";
  position: absolute;
  margin: 0px;
  width: 4px;
  height: 4px;
  transform: rotate(336deg);
  margin-left: -0.8px;
  margin-top: -1.2px;
  background-color: $faded-jade-10;
}

// Logo text styling
.first-name {
  font-family: "Nunito Sans";
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: .46rem;
  margin-right: -7px;
}

.v {
  font-family: "Nunito Sans";
  font-size: 1.9rem;
  font-weight: 100;
  padding-left: 0px;
  padding-right: 4.5px;
}

.navbar-title {
  font-family: "Nunito Sans";
  font-size: 1.25rem;
  font-weight: 200;
  letter-spacing: .46rem;
  color: $faded-jade;
}

.last-name {
  font-family: "Nunito Sans";
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: .46rem;
  padding-left: 9px;
}

.last-name2 {
  font-family: "Nunito Sans";
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: .46rem;
  margin-left: -17px;
}